.category-menu {
    padding-top: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-menu li {
    cursor: pointer;
    padding: 5px 8px;
    color: rgb(194, 129, 191);
    margin-right: 10px;
}

.category-menu li a {
    text-decoration: none;
    background: rgb(85, 225, 235);
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width:767px) {
    .category-menu li a {
        font-size: 12px;
    }
}

@media screen and (max-width:576px) {
    .category-menu li a {
        background: transparent;
        color: aqua;
        font-size: 18px;
    }

    .category-menu li a {
        color: #000;
    }

    .category-menu li:hover {
        transform: scale(1.5);

    }

    .category-menu {
        padding-top: 15px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f8f9fa;

    }
}